@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    transform: .2 linear;
}
:root {
    font-size: 62.5%;/*font-size: 16px;*/
    --roxo-claro:#9B5CB5;
    --Roxo-medio: #581A84;
    --Roxo-escuro: #480048;
    --Prata: #C0C0C0;
    --Dourado: #FFD700;
    --Preto: #000;
    --Branco: #FFF;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: url(../img/Z-Background.png);
}
.btn{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--Roxo-escuro);
    background-color:var(--Dourado);
    margin:20px;
    padding: .8rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background-color: rgba(255, 217, 0, 0.788);
}
/* ------------- INICIO DA BARRA DE NAVEGAÇÃO SUPERIOR ------------- */
.topo-site {
    display: flex;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color:var(--Preto);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.topo-site h1{
    color: var(--Branco);
    margin: 5px;
    border-left: 2px solid var(--Dourado);
    padding: 10px;
}

.topo-site .sair{
   position: absolute;
   margin-left: 90%;
   justify-content: center;
   align-items: center;
}
.sair i{
    font-size: 28px;
}
.sair a{
    color:var(--Dourado);
    font-size: 1.7rem;
    margin-left: 1.7rem;
    cursor: pointer;
}
.sair a:hover{
    color: var(--Roxo-medio);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background: linear-gradient(to bottom, #480048, #000);
}

.menu a {
    color: var(--Dourado);
    font-size: 1.6rem;
    margin: 0 3rem;
    padding: 10px;
    
}
.menu a:hover{
    color: var(--Roxo-medio);
}

a.active {
    border-bottom: 3px solid var(--Dourado);
}

.cadastro-produtos {
    display: flex;
    max-width: 90%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* -------------- INICIO DA AREA DE TEXTO CADASTRO DE PRODUTOS -------------- */
.box-textos{
    background-color: var(--Roxo-escuro);
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    text-align: center;   
}
.cadastro-produtos .box-textos h2{
    color: var(--Dourado);
    text-shadow: var(--text-shadow);
    font-size: 2.7rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.cadastro-produtos .box-textos .btn{
    margin:5px;
}

/* ------ INICIO DO FORMULARIO CADASTRO DE PRODUTOS ------ */
.box-cadastro {
    display: grid;
    background-color: #fff; 
    padding: 60px;
    margin: auto;
}

.box-cadastro label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: var(--Roxo-medio);
}
.box-cadastro input,
.box-cadastro textarea {
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--Dourado);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.box-cadastro textarea {
    resize: vertical;
    height: 60px;
}


/* Botão */
.box-cadastro input[type="submit"] {
    width: 600px;
    margin: 10px auto;
    background-color: var(--Roxo-medio);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight:500;
}
.box-cadastro input[type="submit"]:hover {
    background-color: var(--Roxo-escuro);
    color: white;
}





/* ------------ INICIO DAS CONFIG RESPOSIVIDADE ------------ */
@media only screen and (max-width: 768px) {
    .topo-site {
        padding: 1rem 5%;
    }
    .menu-site {
        display: flex;
        justify-content:center;
        width: 100%;
        background-color: var(--Preto);
        z-index: 999;
        text-align: center;
    }
    #contato1,
    #sobre1{
        display: none;
    }
    .menu-site a {
        margin: 0;
        padding: 1rem;
        color: var(--Dourado);
        font-size: 1.2rem;
    }
    .icons {
        display: block;
    }
    .banner img {
        width: 100%;
        height: 200px;
    }
    .cadastro-produtos {
        flex-direction: column;
        padding: 2rem;
    }
    .box-textos {
        width: 100%;
        height: auto;
    }
    .box-cadastro {
        width: 100%;
    }
    .sobre {
        flex-direction: column;
    }
    .text {
        padding: 2rem;
        margin: 2rem;
    }
    .motinha img {
        width: 100%;
    }
}