@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    transform: .2 linear;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}
:root {
    --Roxo-escuro: #490148;
    --Roxo:  #581A84;
    --Prata: #C0C0C0;
    --Dourado: #FFD51E;
    --Preto: #000;
    --vermelho: #FF3131;
    --Branco: #FFF;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    margin: 0; /* Remove margens padrão do corpo */
    padding: 0; /* Remove preenchimento padrão do corpo */
}
/* Header */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Roxo-escuro);
    height: 95px;
    padding: 0 10px;
    border-bottom:15px solid var(--Dourado) ;
    
}
.header__logo img {
    margin-top: 20px;
    width: 115px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}
.header__nav {
    display: flex;
    gap: 3rem;
}
.header__nav-link {
    color: var(--Dourado);
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.header__nav-link:hover {
    color: var(--vermelho);
}
.header__actions {
    display: flex;
    gap: 1rem;
}
.header__button {
    display: flex;
    align-items: center;
    background-color: var(--vermelho);
    color: var(--Branco);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.6rem;
    font-weight: 600;
    border: 3px groove var(--Branco);
    transition: background-color 0.3s ease;
}
.header__button i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
.user-plus i{
    font-size: 1.5rem;
}
.header__button:hover {
    background-color: var(--Dourado);
    color: var(--Roxo-escuro);
}
/* Carrossel */
.carrossel {
    width: 100%;
    margin: 0 auto;
}
.carrossel__slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Combos */
.combos {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}
.combos__title{
    color: var(--vermelho);
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: var(--text-shadow);
}
.combos__list {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
}
.combos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    transition: transform 0.3s;  
    padding: 5px;
}
.combos__item img{
    width: 100%;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--text-shadow);
}
.combo__name{
    display:none;
    color: var(--Roxo-escuro);
}
.combo__description{
    text-align: center;
    padding:5px 7px;
    font-size: .7rem;
    color: darkslategrey;
    font-weight: 600;
    flex-grow: 1;
}
#combo__price{
    color:#f56b1b ;
    font-weight: 700;
    justify-self:right;
}


/* produtos */
.products{
  background-image: url(../img/background-cardapio.jpg);
}
.products__title{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    color: var(--Branco);
}
.products__category__title{
    font-size: 18px;
    color: var(--Branco);
    align-self: flex-start;
    margin-left: 50px;
    border-left: 10px solid var(--Dourado);
}
.products__grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.product{
    background-color: var(--Branco);
    border-radius: 10px 10px 0 0;
    padding: auto;
    width: 250px;
    text-align: center;
    justify-content: center;
    text-align: center;
    box-shadow: var(--text-shadow);
    justify-content: space-between;
    min-height: 350px; 
}
.product img{
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
}
.product__name{
    font-size: 1.2rem;
    color: var(--Roxo-escuro);
    margin-bottom: 10px;
}
.product__description{
    text-align: center;
    padding:0 7px;
    font-size: .7rem;
    color: darkslategrey;
    font-weight: 600;
    flex-grow: 1; /* Faz o conteúdo ocupar o espaço disponível */
}
.product__price span{
    font-size: .7rem;
    color: #383838;
}
.product__price{
    padding: 5px;
    font-size: 1.2rem; 
    font-weight: 700;
    color: #f56b1b;
    text-align: justify;
    margin: 8px;
}
.quantity-control {
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center; /* Centraliza os botões de quantidade */
}

.quantity-button {
    width: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-button:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.quantity-input {
    width: 35px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}
.add-to-cart {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 12px;
    letter-spacing: 1px;
    border-radius: 50rem;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 100%; /* Faz o botão ocupar a largura total do card */
}
.add-to-cart:hover {
    background-color: #218838; 
}

/* -------------- INICIO DA AREA SOBRE ------------------*/
.about{
    background-color: var(--Branco);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    margin: 0;
    
}
.about__text{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    width: 60%;
    text-align: justify;
}
.about__title{
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--vermelho);
    text-shadow: var(--text-shadow);
    
}
.about__description{
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
    color: var(--Roxo-escuro);
}
.about__image{
    display: flex;
    height: 400px;
}
/* ------------------ INICIO DO RODAPÉ -----------------*/
.footer {
    background-color: var(--Dourado);
    color: var(--Roxo-escuro);
    padding-top: 1rem;
    text-align: center;
}
  
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .footer__brand,
  .footer__contact,
  .footer__location {
    flex: 1 1 300px;
    margin: 1rem;
    text-align: justify;
  }
  
  .footer__brand img {
    width: 150px;
  }
  
  .footer__social {
    display: flex;
    gap: 1rem;
  }
  
  .footer__social-link {
    color: var(--Roxo-escuro);
    border: 0.1rem solid var(--Roxo-escuro);
    border-radius: 10%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .footer__social-link:hover {
    background-color: var(--Roxo-escuro);
    color: var(--Branco);
    border: 0.1rem solid var(--Roxo-escuro);
  }
  
  .footer__info,
  .footer__address,
  .footer__link {
    color: var(--Roxo-escuro);
    text-decoration: none;
    display: block;
    font-size: .5rem;
  }
  
  .footer__link:hover {
    color: var(--vermelho);
  }
  
  .footer__copyright {
    text-align: center;
    font-size: 0.8rem;
    color: var(--Branco);
    background-color: var(--Roxo-escuro);
    padding: 10px 0;
  }
  
  /* Ícones */
  .bx {
    margin-right: 0.rem;
  }