@import url('https://fonts.googleapis.com/css?family=Domine:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    /* Palheta de cores */
    --Roxo-medio: #800080;
    --Roxo-escuro: #480048;
    --Prata: #C0C0C0;
    --Dourado: #FFD700;
    --Preto: #000;
    --Branco: #FFF;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



/* Navbar */

nav{
  width: 100%;
  padding: 5px;
  background-color: var(--Roxo-medio);
  box-shadow: var(--text-shadow);

}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    
}
.nav-wrapper h1{
    margin-left: 36%;
    margin-top: 10px;
    color: #FFD700;
    align-items: center;  
}

/* Estilização do contêiner principal */
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--Prata);
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  /* Estilização da tabela de produtos */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table td, .table th {
    border: 1px solid var(--Roxo-medio);
    padding: 8px;
    text-align: center;
  }
  
  /* Estilização dos botões de adicionar e remover itens */
  .material-icons {
    font-size: 24px;
    cursor: pointer;
  }
  
  .material-icons.green-text {
    color: #4CAF50;
  }
  
  .material-icons.red-text {
    color: #f44336;
  }
  
  .material-icons.blue-text {
    color: #2196F3;
  }
  
  /* Estilização do valor total da compra */
  #valorTotalCompra {
    font-size: 24px;
    font-weight: bold;
    color: #FF5722;
  }
  
  /* Estilização do botão "FINALIZAR COMPRA" */
  .btn {
    background-color: #FF5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #E64A19;
  }