/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    transform: .2 linear;
}

:root {
    /* Palheta de cores */
    --Azul: #13357A;
    --Roxo-medio: #800080;
    --Roxo-escuro: #480048;
    --Prata: #C0C0C0;
    --Dourado: #FFD700;
    --Preto: #000;
    --Branco: #FFF;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--Roxo-escuro);
    background-color:var(--Dourado);
    margin-top: 1rem;
    padding: .8rem 3rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background-color: #C0C0C0;
    color:var(--Roxo-medio);
}



/* ------------- INICIO DA BARRA DE NAVEGAÇÃO SUPERIOR ------------- */
.topo-site {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    z-index: 1000;
    background-color:var(--Preto);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.topo-site .menu-site a {
    color: var(--Dourado);
    font-size: 1.7rem;
    margin: 0 3rem;
}

.topo-site .menu-site a:hover{
    color: var(--Roxo-medio);
}

.topo-site .icons div{
    color:var(--Dourado);
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
}
.topo-site .icons div:hover{
    color: var(--Roxo-medio);
}
#menu{
    display: none;
}

/*-- INICIO CARRINHO DE COMPRAS DO TOPO DO SITE --*/
.topo-site .carrinho {
    width: 35rem;
    background: #FFF;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 115%;
    right: -105%;
    padding: 2rem;
}
.topo-site .carrinho.active{
    right: 2rem;
    transition: .4s linear;
}
.topo-site .carrinho .box{
    position: relative;
    display: flex;
    margin-bottom: 1.5rem;
    gap: 1rem;
    align-items: center;
    
}
.topo-site .carrinho .box .bx-x{
    position: absolute;
    top: 50%;
    left: 28rem;
    transform: translateY(-50%);
    font-size: 2.6rem;
    font-weight: bolder;
    color: #777;
    cursor: pointer;
    
}
.topo-site .carrinho .box .bx-x:hover{
    color: red;
}
.topo-site .carrinho .box img{
    height: 10rem;
}
.topo-site .carrinho .box .content h3 {
    font-size: 1.7rem;
    padding-bottom: .5rem;
    color: var(--Preto);
}
.topo-site .carrinho .box .content span{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--Roxo-escuro);
}
.topo-site .carrinho .box .content span.multiplica{
    max-width: 0.5rem;
}
.topo-site .carrinho .total {
    font-size: 2.2rem;
    color: var(--Roxo-escuro);
    text-align: center;
}
.topo-site .carrinho .btn{
    width: 100%;
    text-align: center;
}
/*-- FIM CARRINHO DE COMPRAS DO TOPO DO SITE --*/
/*---------- FIM DA BARRA DE NAVEGAÇÃO SUPERIOR -----------*/

/* --------------- INICIO DO BANNER -------------- */
.banner {
    display:block;
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 20px;   
}
.banner img {
    margin-top: 10rem;
    height: 50rem;
    width: 100%;
}
.texto-sobre-img {
    position: absolute;
    margin-left: 30px;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.texto-sobre-img h1 {
    margin-top: 30%;
    font-size: 65px;
    font-weight: bold;
    color: var(--Dourado);
    text-shadow: var(--text-shadow);
}
.texto-sobre-img h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: var(--text-shadow);
}
/* --------------- FIM DO BANNER -------------- */

/* ----------------- INICIO DA AREA DE COMBOS ----------------- */
.combos{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;  
}
.combos h2{
    color: var(--Roxo-medio);
    font-size: 4.5rem;
    text-shadow: var(--text-shadow);
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Lista de Combos */
.combo-list{
    display: flex;
    margin: 50px;
    margin-bottom: 15px;

}
.combos ul li{
    text-align: center;
    display: table-column;
    margin: 0 30px;
} 
.combo-list img{
   border-radius: 20px; 
   justify-items:center;
}

.combos .combo-list p{
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 600;
    color: var(--Roxo-escuro)
}
.combos .combo-list span{
    font-size: 1.5rem;
    color: var(--Preto);
    
}
.combos .btn{
    margin-bottom: 4.5rem;
}
/* ----------------- FIM DA AREA DE COMBOS ----------------- */

/* -------------- INICIO DA AREA MONTE SEU PEDIDO -------------- */
.monte-seu-pedido {
    background-color: var(--Prata);
    padding: 20px;
    text-align: left;
    display: flex;
    width: 100%;
}
.monte-seu-pedido .box-textos{
    background-color: #800080;
    padding: 20px;
    height: 500px;
    width: 30%;
    text-align: center;
}
.monte-seu-pedido .box-textos h2{
    color: var(--Dourado);
    text-shadow: var(--text-shadow);
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 0;
}
.monte-seu-pedido .box-textos h3{
    color: var(--Branco);
    text-shadow: var(--text-shadow);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.monte-seu-pedido .box-textos p{
    color: var(--Branco);
    text-shadow: var(--text-shadow);
    font-size: 1.6rem;
    text-align: justify;
    padding: 1.3rem;
}
.monte-seu-pedido .box-textos .btn{
    margin: 6rem;
}
/* --------- FIM DA CAIXA DE TEXTO MONTE SEU PEDIDO --------- */

/* ------ INICIO DA CAIXA DE INGREDIENTES MONTE SEU PEDIDO ------ */
.monte-seu-pedido .box-ingredientes{
    background-color:var(--Branco);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 30px;
    padding: 30px;
    width: 70%;
    text-align: center;
}
.monte-seu-pedido .box-ingredientes .box h3{
    font-size: 1.2rem;
    margin: 1rem;
}
/* ------ FIM DA CAIXA DE INGREDIENTES MONTE SEU PEDIDO ------ */

/* -------------- INICIO DA AREA SOBRE ------------------*/
.sobre{
    display: flex;
    justify-content: space-between;
}
.sobre .motinha{
    padding: 0;
    margin: 0;
}
.sobre .text{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 40px;
}
.sobre .text h2{
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--Roxo-medio);
    text-shadow: var(--text-shadow);
}
.sobre .text P{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    color: var(--Roxo-escuro);
}
/* -------------- FIM DA AREA SOBRE ------------------*/

/* ------------------ INICIO DO RODAPÉ -----------------*/
footer{
    background-color: var(--Dourado);
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}
.rodape {
    display: flex;
    margin-bottom: 3rem;   
}
.rodape .contatos .logo-down{
    margin-left: 3rem;
    margin-right: 20%;
}    

.rodape .contatos{
    display: flex;
    width: 100%;  
}
.rodape .contatos .fale-conosco{
    margin-top: 5rem;
    margin-right: 17rem;
    text-align: justify;  
}
.rodape .contatos .fale-conosco h4,
.onde-encontrar h4{
    font-size: 1.4rem;
    color: var(--Roxo-escuro);
    margin-bottom: .3rem;
    
}
.rodape .contatos .onde-encontrar{
    margin-top: 5rem;
    margin-right: 17rem;
    text-align: center;    
}
.rodape .contatos .fale-conosco i{
    font-size: 1.5rem;
    color: var(--Roxo-escuro);
    
}
.rodape .contatos .fale-conosco{
    margin-left: 10rem;
}
.rodape .contatos .onde-encontrar i{
    width: 40px;
    font-size: 30px;    
}  

#direitos{
    text-align: center;
    font-size: 1.2rem;
    color: var(--Branco);
    background-color: var(--Roxo-medio);
    padding: 10px 0;
}
/* ------------------ FIM DO RODAPÉ -----------------*/    


/* ------------ INICIO DAS CONFIG RESPOSIVIDADE ------------ */

@media(max-width:991px){

    html{
        font-size: 55%;
        padding: 0;
    }
    section{
        padding: 3rem;
    }
    .topo-site{
        padding: 1rem;
    }
}
@media(max-width:768px){
    .topo-site .icons #menu{
        display: inline-block;
    }
    .topo-site .menu-site{
        position: absolute;
        top: 110%;
        right: 110%;
        width: 30rem;
        background-color: var(--Branco);
        border-radius: .5rem;
        box-shadow: var(--text-shadow);
    }
    .topo-site .menu-site.active{
        right: 2rem;
        transition: .4s linear;
    }
    .topo-site .menu-site a{
        display: block;
        font-size: 2rem;
        margin: 2rem 2.5rem;
        color: #FFF;
        border-bottom: 1px solid var(--Prata);
        border-bottom-style: cotted;


    }
    .banner img{
        margin-top: 10rem;
        height: 250px;
        width: 100%;
    }
    .banner .texto-sobre-img h1,
    .banner .texto-sobre-img h2{
        margin-top: 9rem;
        font-size: 4rem;
        margin-left: 20%;
    } 
    .combo-list{
        display: grid;
        
    }
    .combo-list img{
        width:100%;
        object-fit: cover;
    }
    .monte-seu-pedido{
        display: flex;
        flex-direction: column
    }
    .monte-seu-pedido .box-textos{
        width: 100%;
        height: 50%;
    }
    .monte-seu-pedido .box-ingredientes{
        width: 100%;
    }
    .sobre{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0%;
        
    }
    .sobre .text{
        margin: .1rem;
        text-align: center;
    }
    .sobre .motinha img{
        width: 100%;
        height: 90%;
    }
    footer{
        height: 17rem;
        margin-bottom: 0%;
    }
    .rodape{
        height: 14rem;
        margin-top: 0%;
    }  
    .rodape .logo-down img{
        display: none;
    }
    
    

}   
@media(max-width:450px){
    html{
        font-size: 15%;
    }
    .topo-site .menu-site a{
        color: #FFF;
        border-bottom: 1px solid var(--Prata);
        border-bottom-style: cotted;
    }  
}
    /*
    header {
        width: 100%;
        padding: 1px 2%;
        transition: .2s;
    }

    .navbar a {
        font-size: 16px;
        padding: 5px 0;
        margin: 0px 20px;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 141px;
        height: 350px;
        padding: 0;
        background: var(--Preto);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 15px 0;
        padding: 0px 25px;
        transition: all .50s aese;
    }

    .navbar a:hover {
        color: var(--Dourado);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--Dourado);
    }

    .navbar.open {
        right: .1%;
    }

    .texto-sobre-img h1 {
        margin-top: 120%;
        font-size: 30px;
        font-weight: bold;
        padding-left: 1%;
        color: #FFD700;
    }

    .texto-sobre-img h2 {
        font-size: 18px;
        font-weight: bold;
        padding-left: 1%;
    }
}
/* ------------ FIM DAS CONFIG RESPOSIVIDADE ------------ */